<title>Etusivu</title>
<h1>Tervetuloa!</h1/>
<p>
Moikku!
<form action="/send" method="POST">
Choose a drink:
<p>
<input type="radio" name="drink" value="1"> White wine
<input type="radio" name="drink" value="2"> Champagne
<input type="radio" name="drink" value="3"> Beer
<input type="radio" name="drink" value="4"> Cider
<input type="radio" name="drink" value="5"> Vodka
<p>
Choose snacks:
<p>
<input type="checkbox" name="snack" value="A"> Chips
<input type="checkbox" name="snack" value="B"> Crisps
<input type="checkbox" name="snack" value="C"> Nuts
<p>
<input type="submit" value="Lähetä">
</form>
<hr>
