<title>Luo uusi käyttäjä</title>
<h1>Luo uusi käyttäjä</h1>
<hr>
<form action="/new_login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"> Käyttäjätunnuksen tulee olla vähintään neljä merkkiä pitkä. Se saa sisältää isoja ja pieniä kirjaimia a-z ja numeroita 0-9.
</p>
<p>Salasana:<br>
<input type="password" name="password"> Salasanan tulee olla vähintään neljä merkkiä pitkä, ja sen tulee sisältää ainakin yksi numero. Se saa sisältää isoja ja pieniä kirjaimia a-z ja numeroita 0-9.
</p>
<p>Käyttäjän tyyppi:<br>
    <br>
    <input type="radio" name="user_type" value="user"> Työntekijä
    <input type="radio" name="user_type" value="admin"> Esimies
</p>
<input type="submit" value="Luo tunnus">
</form>
<br>
<a href="/">Peruuta</a>