<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
  body{
      font-family: serif;
  }
  .container{
        text-align: center;
        font-size: 20px;
        padding: 40px;
        background-color: #f1f1f1;
    }
</style>
<script>
    function go_back() {
      window.history.back();
    }
</script>

<title>Päivämäärä väärin</title>

<br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col" style="text-align: center;">
      <h2>Päivämäärä väärin. Tarkista antamasi päivämäärä.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center;">
      Anna päivämäärä muodossa vvvv-mm-dd.
      <br>
      <br>
      <button onclick="go_back()" class="btn btn-secondary" style="width: 200px;">Palaa</button>
    </div>
  </div>
</div>
