<link rel="stylesheet" href="main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Etusivu</title>

<body>
    <h1>Vuoronvaihtosovellus</h1>
    <hr>
    <p>
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <nav>
        <ul>
            <li><a href="/give">Katso otettavat vuorot</a></li>
            <li><a href="/take">Katso annettavat vuorot</a></li>
            <li><a href="/swap">Katso vaihdettavat vuorot</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <a href="/create">Luo käyttäjä</a>
    {% endif %}
</body>
