<form action="/send_swap" method="POST">
    Päivämäärä: <input type="text" name="date" value="" size="20">
    <br>
    Alkamisaika: <input type="text" name="start_time" value="" size="20">
    <br>
    Loppumisaika: <input type="text" name="end_time" value="" size="20">
    <br>
    Työpiste: <input type="text" name="post" value="" size="20">
    <br>
    Kommentti: <br>
    <textarea name="comment" rows="3" cols="40"></textarea> 
    <br>
    <input type="submit" value="Lähetä">
    </form>
    <br>
    <a href="/swap">Peruuta</a>