<!DOCTYPE html>
<script>
    function sent() {
        alert("Ehdotus lähetetty!");
    }
</script>

<title>Ota vuoro</title>
Pakolliset kohdat merkitty tähdellä. <br>
<form action="/send_give" method="POST" onsubmit="sent()">
Päivämäärä: * <input type="date" id="date" name="date" min="{{ today }}" required> Jos käytät safaria, syötä päivämäärä muodossa vvvv-mm-dd.
<br>
Kommentti: <br>
<textarea name="comment" rows="3" cols="40"></textarea> 
<br>
<input type="submit" value="Lähetä">
</form>
<br>
<button type="button" onclick="location.href='/give'">Peruuta</button>