<style>
    table, td, th, tr {
        text-align: center;
        border: 1px rgb(0, 0, 0);
        border-collapse: col;
      }
      
    td, th {
        width: 95;
        height: 50;
      }
    
    th {
        background-color: lightskyblue;
    }
    
    tr:nth-child(even) {
        background-color: rgb(187, 233, 248);
    }
</style>

{% if session.username and session.user_type == "user" %}
<title>Ehdotukset</title>
<h1>Vuoronvaihtosovellus</h1>
<hr>
<h2>Otetaan vuoro:</h2>
<table>
    <tr>
        <th colspan="3">Sinun ilmoituksesi:</th>
        <th colspan="3">Työkaverin ehdotus:</th>
    </tr>
    <tr>
        <th>id</th>
        <th>Päivämäärä</th>
        <th style="width: 400px">Kommentti</th>
        <th>Päivämäärä</th>
        <th>Ehdotus</th>
        <th>Nimi</th>
        <th>Hyväksy</th>
    </tr>
    {% for offer in give_offers %}
    <tr>
        <td>{{ offer[0] }}</td>
        <td>{{ offer[1] }}</td>
        <td style="width: 400px">{{ offer[2] }}</td>
        <td>{{ offer[3] }}</td>
        <td>{{ offer[4] }}</td>
        <td>{{ offer[5] }}</td>
        <td><input type="radio" name="ok" value="{{ offer[0] }}"></td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Annetaan vuoro:</h2>
<table>
    <tr>
        <th colspan="6">Sinun ilmoituksesi:</th>
        <th colspan="1">Vuoron ottaa:</th>
    </tr>
    <tr>
        <th>id</th>
        <th>Päivämäärä</th>
        <th>Alkaa</th>
        <th>Loppuu</th>
        <th>Työpiste</th>
        <th style="width: 400px">Kommentti</th>
        <th>Nimi</th>
        <th>Hyväksy</th>
    </tr>
    {% for offer in take_offers %}
    <tr>
        <td>{{ offer[0] }}</td>
        <td>{{ offer[1] }}</td>
        <td>{{ offer[2] }}</td>
        <td>{{ offer[3] }}</td>
        <td>{{ offer[4] }}</td>
        <td style="width: 400px">{{ offer[5] }}</td>
        <td>{{ offer[6] }}</td>
        <td><input type="radio" name="ok" value="{{ offer[0] }}"></td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Vaihdetaan vuoro:</h2>
<table>
    <tr>
        <th colspan="6">Sinun ilmoituksesi:</th>
        <th colspan="3" style="width: 120px">Ehdotus vaihdosta:</th>
    </tr>
    <tr>
        <th>id</th>
        <th>Päivämäärä</th>
        <th>Alkaa</th>
        <th>Loppuu</th>
        <th>Työpiste</th>
        <th style="width: 400px">Kommentti</th>
        <th>Päivämäärä</th>
        <th>Ehdotus</th>
        <th>Nimi</th>
        <th>Hyväksy</th>
    </tr>
    {% for offer in swap_offers %}
    <tr>
        <td>{{ offer[0] }}</td>
        <td>{{ offer[1] }}</td>
        <td>{{ offer[2] }}</td>
        <td>{{ offer[3] }}</td>
        <td>{{ offer[4] }}</td>
        <td style="width: 400px">{{ offer[5] }}</td>
        <td>{{ offer[6] }}</td>
        <td>{{ offer[7] }}</td>
        <td>{{ offer[8] }}</td>
        <td><input type="radio" name="ok" value="{{ offer[0] }}"></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<br>
<a href="/">Palaa etusivulle</a>
<hr>
