<!DOCTYPE html>
<style>
table, td, th {
    text-align: center;
    border-collapse: collapse
  }
  
td, th {
    width: 75;
    height: 50;
    border-bottom: 1px solid rgb(0, 0, 0);
  }

th {
    background-color: lightskyblue;
}

tr:nth-child(odd) {
    background-color: rgb(187, 233, 248);
}
p.add {
        text-align: right;
    }
</style>
<script>
    function offer_sent() {
        alert("Ehdotus lähetetty!");
    }

    function confirm_drop() {
        confirm("Oletko varma että haluat poistaa pyynnön?");
    }
</script>


<title>Vaihdettavat vuorot</title>
<h1>Vuoronvaihtosovellus</h1>
<hr>
<p class="add"> <a href="/new_swap">Vaihda vuoro</a> </p>
<h2>Vaihdetaan vuoroja:</h2>
<table>
    <tr>
        <th>id</th>
        <th>Päivämäärä</th>
        <th>Alkaa</th>
        <th>Loppuu</th>
        <th>Työpiste</th>
        <th style="width: 500px;">Kommentti</th>
        <th style="width: 300px">Työntekijä</th>
    </tr>
    {% for offer in offers %}
    <tr>
        <td>{{ offer[0] }}</td>
        <td>{{ offer[1] }}</td>
        <td>{{ offer[2] }}</td>
        <td>{{ offer[3] }}</td>
        <td>{{ offer[4] }}</td>
        <td style="width: 500px;">{{ offer[5] }}</td>
        <td style="width: 300px">{{ offer[6] }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<h2>Ehdota vaihtoa:</h2>
Valitse haluamaasi vaihtoa vastaava id.
<br>
<form action="/offer_swap" method="POST" onsubmit="return offer_sent()">
{% for id in id_list %}
<input type="radio" name="id" value="{{ id[0] }}" required> {{ id[0] }}<br>
{% endfor %}
Päivämäärä: <br>
<input type="date" id="pvm" name="pvm" min="{{ today }}" required> Jos käytät safaria, anna päivämäärä muodossa vvvv-mm-dd. <br>
Vuoro: <br>
<input type="text" name="offer" required> <br>
<br>
<button type="submit">Lähetä</button>
</form>
<br>

<h3>Poista ehdotus:</h3>
<form action="/delete_swap" method="POST">
{% for offer in your_offers %}
<input type="checkbox" name="drop" value="{{ offer[0] }}" required>{{ offer[0] }} <br>
{% endfor %}
<br>
<button type="submit" onclick="return confirm_drop()">Poista</button>
</form>

<br>
<a href="/">Palaa etusivulle</a>
<hr>
