<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
  body{
      font-family: serif;
  }
  .container{
        text-align: center;
        font-size: 20px;
        padding: 40px;
        background-color: #f1f1f1;
    }
</style>

<title>Käyttäjätunnus käytössä</title>

<br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col" style="text-align: center;"><h2>Käyttäjätunnus on jo käytössä. Kokeile toista käyttäjätunnusta.</h2></div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;"><button type="button" onclick="location.href='/create'" class="btn btn-secondary">Palaa</button></div>
    </div>
</div>

