<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
  body{
      font-family: serif;
  }
  .container{
        text-align: center;
        font-size: 20px;
        padding: 40px;
        background-color: #f1f1f1;
    }
</style>

<title>Väärä käyttäjätunnus</title>

<div class="container">
    <div class="col" style="text-align: center;">
        <h2>Väärä käyttäjätunnus!</h2>
        <br>
        <br>
        <button type="button" onclick="location.href='/'" class="btn btn-secondary">Palaa</button>
    </div>
</div>
